table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: center;
}

th, td {
    border: 1px solid #010101;
    padding: 10px;
}

th {
    background-color: rgba(0, 195, 255, 0.805);
    color: white;
}

tr:nth-child(even) {
    background-color:  #c9c9c9;
}

tr:hover {
    background-color: #ddd;
}
